.container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: space-around;
    justify-content: flex-start;
    height: 300px;
    width: 300px;
}

.item {
    padding: 1px;
    margin: 10px;
    border: 1px solid #222222;
}